header {
    padding: 20px 0px;
    color: white;
    background-color: rgb(18, 130, 222);
    justify-content: center;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header h1 {
    text-transform: uppercase;
    
}
.container{
    display: flex;
    align-items: center;
    
}
img {
    height: 50px;
    width: 75px;
    border: none;
    border-radius: 26px;
}