* {
    box-sizing: border-box;
    
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .back{
    background-color: rgb(144, 198, 246);
    margin-top: 90px;
    overflow-y: auto;
  }
  .column {
    float: left;
    width: 25%;
    padding: 10px 10px;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #3da6f7;
  }
  pagination-controls {
    text-align: center;
    font-weight: 600;
  }
  .center{
    text-align: center;
  }
  .search{
    width: 180px;
    height: 50px;
    margin: 20px;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 10px;
    justify-content: center;
    border: none;
  }
  button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(14, 128, 235);
  }
  i{
    background-color: black;
  }
